<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/994af04066.js" crossorigin="anonymous"></script>
    <title><%= pageTitle %></title>
</head>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <!-- Navbar -->

    <nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top">
        <a href="/" class="navbar-brand"><i class="fas fa-book text-light fa-2x"></i></a>
        <button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav"><span
                class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse justify-content-between mg-10" id="nav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3"
                        href="/">Accueil</a></li>
                <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3"
                        href="/search">Recherche</a></li>
                </li>
                <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3"
                        href="/loans">Emprunts</a></li>
                </li>
                <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3"
                        href="#">Gestion</a></li>
                </li>
            </ul>
            <div class="row ">
                <form class="form-inline ml-3 px-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Rechercher">
                        <div class="input-group-append">
                            <button class="btn btn-light" type="button"><i
                                    class="fas fa-search text-muted"></i></button>
                        </div>
                    </div>
                </form>
                <a href="/login" class="navbar-brand px-3"><i class="far fa-user text-light"></i></a>
            </div>
        </div>
    </nav>
    <!-- End of Navbar -->

    <!-- Zone utile d'affichage -->
    <section class="bg-light">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center" style="height: 95vh">
