<%- include('includes/head.ejs') %>
<div class="col-lg-10 col-md-8 col-sm-6">
    <div class="text-center text-secondary">
        <h1><u>Page not found !</u></h1>
        <br>
        <p>The requested page was not found on the server</p>
    </div>
</div>

<%- include('includes/end.ejs') %>