<%- include('includes/head.ejs') %>
<div class="col-lg-10 col-md-8 col-sm-6">
    <div class="text-center text-secondary">
        <h1><u>Page en construction !</u></h1>
        <br>
        <p>Revenez plus tard...</p>
    </div>
</div>

<%- include('includes/end.ejs') %>