<%- include('includes/head.ejs') %>

<div class="col-lg-4 col-sm-10 mb-4 mx-auto">
    <div class="card">
        <h3 class="text-muted px-3">Connexion</h3>
        <div class="card-body">            
            <form class="text-muted">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input type="text" class="form-control" id="login">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password">
                </div> 
                <br>
                <button class="btn btn-outline-secondary btn-block" type="subdmit">Se connecter</button>
            </form>
        </div>
    </div>
</div>

<%- include('includes/end.ejs') %>